body {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid black;
    height: 80px;
}

header ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

header ul li {
    display: inline-block;


}

header a {
    text-decoration: none;
    color: black;
    padding: 0px 36px;
    line-height: 80px;
    font-weight: bold;



}

.cont1 {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/pet.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;



}

.cont1 h2 {
    text-align: center;
    line-height: 600px;
    color: #fff;
    font-size: 64px;
    margin: 0;
}

.cont1 h6 {
    position: absolute;
    right: 48px;
    bottom: 0;
    font-size: 18px;
    color: aquamarine;
}

.cont2 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;

}

.cont2 hr {
    margin: 36px 0;
}


table {
    width: 100%;
    table-layout: fixed;
}

td {
    width: 33.3%;
    vertical-align: top;
    padding: 0 8px;
}

.review {
    background-color: #f4f4f4;
    padding: 12px 24px;
    margin-top: 12px;
    font-style: italic;
    font-size: 16px;
    line-height: 1.4;
}

td img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

td p {
    font-weight: bold;
    font-size: 18px;
}

.info {
    background-color: #f4f4f4;
    padding: 12px 24px;
}

h3 {
    font-size: 28px;
}
